<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - university application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar pb-0 mb-2 navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav nav-tabs">
                    <!--ViewContext.RouteData.Values["Controller"].ToString() == "ShippingDocuments"-->
                    <li class="nav-item">@Html.ActionLink("Home page", "Index", "Home", new { area = "" }, new { @class = Request.Url.GetLeftPart(UriPartial.Path).Contains("Home") ? "nav-link active" : "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Students", "Index", "Students", new { area = "" }, new { @class = Request.Url.GetLeftPart(UriPartial.Path).Contains("Students") ? "nav-link active" : "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Subjects", "Index", "Subjects", new { area = "" }, new { @class = Request.Url.GetLeftPart(UriPartial.Path).Contains("Subjects") ? "nav-link active" : "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Journal", "Index", "Journals", new { area = "" }, new { @class = Request.Url.GetLeftPart(UriPartial.Path).Contains("Journals") ? "nav-link active" : "nav-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - university journal!</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
